---
import "@fontsource/kaushan-script";
---

<h1 id="notinstagram">NotInstagram</h1>

<style>
  #notinstagram {
    font-size: 32px;
    font-family: "Kaushan Script", sans-serif;
    margin: 0;
  }
</style>
