hr {
  width: 70%;
  border-color: #adadad44;
  margin-bottom: 32px;
}

* {
  font-family: "Inter Variable", sans-serif;
}

body {
  margin: 0;
}

main {
  max-width: 600px;
  margin: auto;
}

img {
  object-fit: cover;
  background-color: #adadad;
}

img.transparent {
  background-color: transparent;
}

p {
  font-size: 16px;
}

span {
  line-height: 100%;
}
